*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    background: linear-gradient(rgb(164, 164, 250),20%,pink);
}
.heading{
    font-size: 2.2rem;
    font-weight: 900;
    text-shadow: 5px 5px 5px aqua;
}
.main{
    text-align: center;
}
.components{
    margin-top: 60px;
}
.btn1,.btn2{
    height: 70px;
    width: 330px;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
}
.btn1:hover{
    background-color: aqua;
}
.btn2:hover{
    background-color: rgb(132, 0, 255);
}
.btn1{
    background-color: aquamarine;
    margin-right: 40px;
}
.btn2{
    background-color: blueviolet;
    margin-left: 50px;
}